.admin-layout {
    display: flex;
    min-height: calc(100vh - 70px);
}

/* SIDEBAR */
.admin-sidebar {
    width: 230px;
    background: #0b0b0b;
    border-right: 1px solid #222;
    padding: 20px;
}

.admin-sidebar .logo {
    color: white;
    margin-bottom: 25px;
}

.admin-sidebar a {
    display: block;
    color: #aaa;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 8px;
    margin-bottom: 8px;
    transition: 0.3s;
}

.admin-sidebar a:hover {
    background: #1a1a1a;
    color: #00d4ff;
}

.admin-sidebar a.active {
    background: #00d4ff;
    color: black;
}

/* MAIN */
.admin-main {
    flex: 1;
    padding: 30px;
}

/* HEADER */
.admin-header h2 {
    margin-bottom: 20px;
}

/* CARD */
.admin-card {
    background: #111;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #222;
}

/* TABLE */
.admin-table {
    width: 100%;
    border-collapse: collapse;
}

.admin-table th {
    text-align: left;
    padding: 12px;
    background: #1a1a1a;
    color: #aaa;
}

.admin-table td {
    padding: 12px;
    border-top: 1px solid #222;
}

.admin-table tr:hover {
    background: #1a1a1a;
}

/* IMAGE */
.product-thumb {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/* BUTTONS */
.edit-btn {
    color: #00d4ff;
    margin-right: 10px;
}

.delete-btn {
    color: #ff4d4d;
}

/* STATS */
.stats-grid {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.stat-card {
    flex: 1;
    background: #111;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #222;
}

/* Buttons */
.action-btn {
    background: #1c1c1c;
    padding: 8px 14px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

.action-btn:hover {
    background: #00d4ff;
    color: black;
}

/* Price */
.price {
    color: #00d4ff;
    font-weight: bold;
}


.stat-card h4 {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 10px;
}

.stat-card p {
    font-size: 24px;
    font-weight: bold;
    color: #00d4ff;
}

.stat-card {
    display: block;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.stat-card:hover {
    transform: translateY(-5px);
    background: #1a1a1a;
}

select {
    background: #1c1c1c;
    color: white;
    border: none;
}

.pagination a {
    margin: 0 5px;
    padding: 6px 12px;
    background: #222;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.pagination a.active {
    background: #00d4ff;
    color: black;
}