/* LOGIN / SIGNUP ONLY */

.login-page {
    min-height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 100%;
    max-width: 380px;
    background: #111;
    padding: 30px;
    border-radius: 16px;
    text-align: left;
}

.subtitle {
    color: #aaa;
    margin-bottom: 20px;
}

.input-group select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #1e1e1e;
    color: #fff;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #1e1e1e;
    color: #fff;
    font-size: 14px;
}

.input-group {
    margin-bottom: 15px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background: #00d4ff;
    color: black;
    border: none;
    cursor: pointer;
}

.error {
    color: #ff4d4d;
}